.inventory-btn{
        width: 50%;
        border: none;
        box-sizing: border-box;
        /* position: absolute; */
        bottom: 0;
        align-items: center;
        justify-content: center;
        display: flex;
    
}

.upcoming img{
        height: 400px;
}
.award-header{
        text-align: center;
}
.achievement{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 40px;
}
.achievement img{
        width: 200px;
        height: 200px;
}